/* Font */
@font-face {
    font-family: Forma DJR;
    font-weight: 200;
    src: url(../../assets/fonts/FormaDJRCyrillicDisplay-ExtraLight.woff2) format("woff2")
}

@font-face {
    font-family: Forma DJR;
    font-weight: 400;
    src: url(../../assets/fonts/FormaDJRCyrillicDisplay-Regular.woff2) format("woff2")
}

@font-face {
    font-family: "Forma DJR";
    font-weight: 700;
    src: url(../../assets/fonts/FormaDJRCyrillicDisplay-Bold.woff2) format("woff2")
}

@font-face {
    font-family: "Red Ring TExt";
    font-weight: 400;
    src: url(../../assets/fonts/RedRing-Regular.woff2) format("woff2")
}




:root {
    --textColorRGB: 40, 40, 40;
    --textColor: rgb(40, 40, 40);
    --backgroundColor: rgba(247, 247, 247);
    --backgroundColorRGB: 247, 247, 247;
    --keyColor: rgb(54, 124, 247);
    --keyColorRGB: 54, 124, 247;
    --hoverColor: rgb(0, 165, 184);

    --link-decoration: underline solid rgba(var(--keyColorRGB), .4) .01em;

    --icon-size: 50%;

    --font-accent: "Forma DJR", sans-serif;

    --bold: 700;
    --medium: 500;
    font: 16px/1.2 "Red Ring Text", system-ui, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 75%;
    margin: 0 auto;
    color: rgb(var(--textColorRGB));

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
        padding: 0 .5em;
    }
}

a {
    color: rgb(var(--keyColorRGB));
    text-decoration: var(--link-decoration);
    text-underline-offset: .2em;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    transition: color .5s ease;
}

a:hover {
    color: var(--hoverColor);
    text-decoration-color: currentColor;
    transition: color .0s ease;
} 

img {
    display: block;
    width: 100%;
    transition: filter .5s ease;
}

.item a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 2.8em;
    line-height: 1.15em;
    font-weight: var(--bold);
}

h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: var(--medium);
}

.smallSize h2,
.regularSize h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.1em;
    font-weight: var(--medium);
}

.item h2 {
    margin-bottom: .16em;
    line-height: 1em;
}


p {
    margin-bottom: .4em;
}

.item p {
    font-size: .95em;
}

.fullSize p {
    width: 70%;
}

.stack.L {
    margin-top: 2em;
}

header {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding: 1em 0 0;
    border-bottom: .1em solid rgb(var(--keyColorRGB), 10%);
    padding-bottom: .4em;
}

footer {
    display: flex;
    flex-flow: wrap column;
    gap: .4em;
    padding: 2em 0;
    align-items: center;
    font-size: 1em;
    background-color: rgb(var(--textColorRGB), 2%);
    margin-top: 5em;
}



header a {
    text-decoration: none;
    color: rgb(var(--textColorRGB));
}

.active {
    text-decoration: underline solid rgba(var(--keyColorRGB), .4) .01em;;
    text-underline-offset: .8em;
    text-decoration-thickness: .1em;
    text-decoration-color: var(--keyColor);
    color: var(--keyColor);
    font-weight: 600;
}

.groupHeader {
    display: flex;
    flex-flow: nowrap row;
    gap: 1em;
}

.cardContainer {
    display: grid;
    grid-template-rows: min-content; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 1em 1em;
    align-items: start;
    margin-bottom: 5em;
}



.fullSize {
    grid-column: span 5;
}

.largeSize {
    grid-column: span 4;
}

.regularSize {
    grid-column: span 2;
}

.smallSize {
    grid-column: span 1;
    /* font-size: .8em; */
}

.button, button {
    display: block;
    font-weight: 400;
    background-color: var(--textColor);
    color: rgb(238, 238, 238);
    font-size: 1.2em;
    max-width: 100%;
    padding: .5em 1em;
    text-decoration: none;
    white-space: normal;
    border-radius: .2em;
}

a:hover .button,
a:hover button,
button:hover {
    background-color: var(--keyColor);
}


.coming h2::before {
    content: "Скоро";
    position: relative;
    color: rgb(var(--textColorRGB));
    font-size: .5em;
    font-weight: 400;
    padding: 0 .3em;
    bottom: .3em;
    margin-right: .3em;
    border: 1px solid rgb(var(--textColorRGB));
    border-radius: .2em;
}

.coming a {
    text-decoration: none;
}

.lead {
    font-size: 1.3em;
}

.extraContainer {
    display: flex;
    flex-flow: wrap row;
    padding: .3em 0;
    position: relative;
}

.extraContainer::before {
    border-top: .1em solid rgb(var(--textColorRGB), 8%);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.extraItem {
    padding-right: 1em;
    padding-bottom: 1.3em;
    width: calc(100%/2 - 1em);
}

.extraItem p {
    margin-bottom: .4em;
    font-size: em;
}


.imageContainer {
    margin-bottom: .8em;
    width: 100%;
    border-radius: .4em;
    overflow: hidden;
}

.item.locked .imageContainer {
    position: relative;
    overflow: hidden;
}

.item.locked .imageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.item.locked .imageContainer::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--icon-size);
    height: var(--icon-size);
    background: url('../../assets/icons/lock.svg') no-repeat center;
    background-size: contain;
}

.item.locked .imageContainer img {
    filter: none;
}


.cardExtra {
    opacity: 0;
    display: flex;
    column-gap: .7em;
    color: rgb(var(--textColorRGB), 80%);
    /* font-family: var(--font-serif); */
    margin-bottom: .5em;
    transition: ease .3s;
    font-size: .8rem;
}

.item:hover .cardExtra {
    opacity: 1;
}

.imageContainer:hover img {
    filter: brightness(120%) contrast(95%);
    transition: filter .0s ease;
}

#faq {
    border-top: .1em solid rgb(var(--textColorRGB), 8%);
}

.rotateAnimation {
    transform: rotate(-.9deg);
    transition: transform .5s ease;
}

.rotateAnimation:hover {
    transform: none;
    transition: transform 0s ease;
}


/* final cut */

.autor {
    display: flex;
    flex-flow: row nowrap;
    padding: 1em 0;
}

.autor-name {
    font-size: 1.25em;
    font-weight: 600;
    /* font-family: var(--font-accent); */
}

.autor_pic {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

.autor_description {
    padding-left: 1em;
    padding-right: 3em;
}



.courses-title {
    background-color: rgb(var(--keyColorRGB), 10%);
    padding: .5em 1em 1em;
    margin: 2em -1em;
}

.courses-title_h1 {
    font-family: var(--font-accent);
    font-size: 7em;
    font-weight: 200;
    line-height: .9;
}

.courses-title_description {
    font-size: 1.6em;
    line-height: 1.2;
    padding-right: 5em;
    font-weight: 550;
}



.courses-description {
    font-size: 1.25em;
}

.t-lead {
    font-size: 2rem;
    line-height: 1.2;
}

.mark_red {
    background-color: rgba(255, 0, 0, 0.172);
}

.theory-item_name {
    position: relative;
    font-size: 1em;
}

.theory-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 1em .75em; 
}

.theory-item-cover {
    position: relative;
    width: 100%;
}

.theory-item-cover_duration {
    position: absolute;
    bottom: .25em;
    right: .25em;
    color: white;
    font-size: .85em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.341);
}

.reviews-grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1em .75em;
}

.reviews-item {
    display: flex;
    flex-flow: column;
    gap: .5em;
    /* justify-content: space-between; */
    width: calc(100%/3 - .75em);
    padding: .3em 1.5em 0 .5em;
    background-color: rgb(var(--keyColorRGB), .05);
}
.reviews-item.L {
    width: calc(66% - .75em);

}

.reviews-item-autor {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.reviews-item-autor_pic {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: .5em;
}

.reviews-item-autor_name {
    font-size: 1em; /* Надо удалить, бесполезное св-во */
}

.reviews-item-text {
    font-size: 1.25em;
}

.reviews-item-caption {
    display: none;
}

.purchase-form {
    display: flex;
    padding: 1.8em 1em;
    color: var(--key);
    gap: 0;
    background-color: rgb(var(--keyColorRGB), .1);
    box-shadow: 0 70px 50px 0 rgb(var(--keyColorRGB), .2);
}

.purchase-form_title {
    font-size: 4em;
    font-family: var(--font-accent);
    font-weight: 100;
    margin: -.15em 0 0 -.1em;
    line-height: .9;
    padding-right: 1em;
}

.purchase-form-input {
    width: 100%;
    padding: .7em .5em;
    background: rgb(var(--textColorRGB), .1);
    /* background: linear-gradient(rgb(var(--textColorRGB), .1), rgb(var(--textColorRGB), 0) ); */
}

.purchase-form-wrapper {
    width: 100%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.purchase-form_caption {
    font-size: .9em;
}


.features-item {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 0;
}

.features-item-wrapper {
    flex-grow: 4;
    flex-basis: 0;
}

.features-item-wrapper_img {
    flex-grow: 8;
    flex-basis: 0;
    overflow: visible;
}

.features-item-wrapper_img img {
    transform: scale(180%);
}