/* Font */

@font-face {
    font-family: Forma DJR Cyr;
    font-weight: 700;
    src: url(../../assets/fonts/FormaDJRCyrillicMicro-Bold.woff2) format("woff2")
}

@font-face {
    font-family: Forma DJR Cyr;
    font-weight: 500;
    src: url(../../assets/fonts/FormaDJRCyrillicMicro-Medium.woff2) format("woff2")
}

@font-face {
    font-family: Forma DJR Cyr;
    font-weight: 400;
    src: url(../../assets/fonts/FormaDJRCyrillicMicro-Regular.woff2) format("woff2")
}



:root {
    --textColorRGB: 40, 40, 40;
    --textColor: rgb(40, 40, 40);
    --backgroundColor: rgba(247, 247, 247,.8);
    --keyColor: rgb(54, 124, 247);
    --keyColorRGB: 54, 124, 247;
    --hoverColor: rgb(0, 165, 184);

    --link-decoration: underline solid rgba(var(--keyColorRGB), .4) .01em;

    --icon-size: 6rem;

    --font-serif: "Alegreya", serif;

    --bold: 700;
    --medium: 500;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px/1.35 "Forma DJR Cyr", system-ui, sans-serif;
    /* hyphens: auto; */

    width: 70%;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
        padding: 0 .5em;
    }
}

a {
    color: rgb(var(--keyColorRGB));
    text-decoration: var(--link-decoration);
    text-underline-offset: .2em;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    transition: color .5s ease;
}

a:hover {
    color: var(--hoverColor);
    text-decoration-color: currentColor;
    transition: color .0s ease;
} 

img {
    width: 100%;
    transition: filter .5s ease;
}

.item a {
    text-decoration: none;
    display: inline-block;
}

a h2, p {
    color: var(--textColor);
}


h1 {
    font-size: 2.8em;
    margin-bottom: .4em;
    line-height: 1.15em;
    font-weight: var(--bold);
}

h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: var(--medium);
    margin-bottom: .4rem;
}

.smallSize h2,
.regularSize h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.1em;
    font-weight: var(--medium);
}

.item h2 {
    margin-bottom: .16em;
    line-height: 1em;
    /* margin: 0; */
}


p {
    margin-bottom: .4em;
}

.item p {
    font-size: .95em;
}

.fullSize p {
    width: 70%;
}

.stack.L {
    margin-top: 2em;
}

header {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding: 1em 0 0;
    border-bottom: .1em solid rgb(var(--keyColorRGB), 10%);
    padding-bottom: .4em;
}

footer {
    display: flex;
    flex-flow: wrap column;
    gap: .4em;
    padding: 2em 0;
    align-items: center;
    font-size: 1em;
    background-color: rgb(var(--textColorRGB), 2%);
    margin-top: 5em;
}



header a {
    text-decoration: none;
    color: rgb(var(--textColorRGB));
}

.active {
    text-decoration: underline solid rgba(var(--keyColorRGB), .4) .01em;;
    text-underline-offset: .8em;
    text-decoration-thickness: .1em;
    text-decoration-color: var(--keyColor);
    color: var(--keyColor);
    font-weight: 600;
}

.groupHeader {
    display: flex;
    flex-flow: nowrap row;
    gap: 1em;
}

.textContainer {
    width: 85%;
    margin: 0 auto;
}

.cardContainer {
    display: grid;
    grid-template-rows: min-content; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 1em 1em;
    align-items: start;
    margin-bottom: 5em;
}



.fullSize {
    grid-column: span 5;
}

.largeSize {
    grid-column: span 4;
}

.regularSize {
    grid-column: span 2;
}

.smallSize {
    grid-column: span 1;
    /* font-size: .8em; */
}

.button, button {
    display: block;
    font-weight: 400;
    background-color: var(--textColor);
    color: rgb(238, 238, 238);
    font-size: 1.2em;
    max-width: 100%;
    padding: .5em 1em;
    text-decoration: none;
    white-space: normal;
    border-radius: .2em;
    margin-bottom: 1em;
}

a:hover .button,
a:hover button,
button:hover {
    background-color: var(--keyColor);
}


.coming h2::before {
    content: "Скоро";
    position: relative;
    color: rgb(var(--textColorRGB));
    font-size: .5em;
    font-weight: 400;
    padding: 0 .3em;
    bottom: .3em;
    margin-right: .3em;
    border: 1px solid rgb(var(--textColorRGB));
    border-radius: .2em;
}

.coming a {
    text-decoration: none;
}

.lead {
    font-size: 1.3em;
}

.extraContainer {
    display: flex;
    flex-flow: wrap row;
    padding: .3em 0;
    position: relative;
    /* margin-bottom: 2em; */
}

.extraContainer::before {
    border-top: 1px solid rgb(var(--textColorRGB), 8%);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.extraItem {
    padding-right: 1em;
    padding-bottom: 1.3em;
    width: calc(100%/2 - 1em);
}

.extraItem p {
    margin-bottom: .4em;
    font-size: em;
}

.imageContainer {
    margin-bottom: .5em;
    margin-bottom: .8em;
    width: 100%;
    border-radius: .4em;
    overflow: hidden;
    transform: rotate(-.9deg);
    transition: transform .5s ease;
}

.imageContainer:hover {
    transform: none;
    transition: transform 0s ease;
}

.item.locked .imageContainer {
    position: relative;
    overflow: hidden;
}

.item.locked .imageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.item.locked .imageContainer::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--icon-size);
    height: var(--icon-size);
    background: url('../../assets/icons/lock.svg') no-repeat center;
    background-size: contain;
}

.item.locked .imageContainer img {
    filter: none;
}


.cardExtra {
    opacity: 0;
    display: flex;
    column-gap: .7em;
    color: rgb(var(--textColorRGB), 80%);
    /* font-family: var(--font-serif); */
    margin-bottom: .5em;
    transition: ease .3s;
    font-size: .8rem;
}

.item:hover .cardExtra {
    opacity: 1;
}

.imageContainer:hover img {
    filter: brightness(120%) contrast(95%);
    transition: filter .0s ease;
}

}